
.home{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    letter-spacing: 0.1em;
    height: 100vh;

}


.home__subtitle{
    font-size: 3em;
    color: var(--color-red);
}

.banner{
    width: 25em;
}

.greeting-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}