.detail_container{
    display: flex;
    flex-wrap: wrap;
    margin: 5em;
    gap: 1em;


    .detail__content-ico{
        width: 100%;
        background-color: red;
        border-radius: .8em .8em 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .detail__ico{
            width: 15em;
    
        }

        .pokemon-info{
            background-color: aquamarine;
            width: 20em;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-block: 0.2em;

            .pokemon-name{
background-color: blue;
            }

            .pokemon__characteristics{
                display: grid;
            }
            
            .characteristics__list {
                display: grid;
                grid-template-columns: repeat(2, 1fr); /* Dos columnas */
                grid-template-rows: repeat(2, auto); /* Dos filas */
                gap: 10px; /* Espacio entre elementos */
              }

              .characteristics__items {
                display: flex;
                flex-direction: column;
              }

              .characteristics__label {
                font-weight: bold;
                text-align: center;
              }

              .characteristics__value {
                text-align: center;
              }
        }



    }

    .detail__content-movements{
        width: 100%;
        background-color: aqua;
        border-radius:  0 0 .8em .8em;
    }
    


}