.loading {
    position: relativa;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    
}

.loading .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.75em;
    height: 3.75em;
    border: 0.5em solid #ccc;
    border-top: 10px solid #ee0d0d;
    border-radius: 50%;
    animation: rotate 2s linear infinite;

}

@keyframes rotate {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
