.card{
    width: 100%;
    max-width: 25em;
    border: 0.5em solid #ccc;
    border-radius: 1em;

}

.card__header{

    aspect-ratio: 2;
    width: 100%;
    position: relative;
    border-radius: 0.4em;

    /* display: flex;
    justify-content: center; */
}

.card__img{
    position: absolute;
    width: 55%;

    /* mejorar mala practica*/
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.card__principal{
    margin-top: 3.5em;
}

.card__name{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.card__types{
    --gap-types: 1.4rem;
    display: flex;
    justify-content: center;
    gap: var(--gap-types);
    
}


.card__type:not(:nth-child(1))::before{
    content: '/';
    padding-right: var(--gap-types);
}

.card__hr{
    --margin-y: 0.8em;
    margin-top: var(--margin-y);
    margin-bottom: var(--margin-y);
    border-top: 0.1em solid #ccc;
    margin-inline: 2em;

}

.card__stat{
    padding: 1em 1em 2em;
}

.card__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5em;
}

.card__stat{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
}

.card__stat__label{
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bold;
}

.card__stat__value{
    font-size: 1.2rem;
    font-weight: 500;

}

/* Color de Fondo*/

.bg-normal{
    background: linear-gradient(179.75deg, rgb(160 162 160) 10.0% , rgb(207 207 207) 30.0%, #fff 85.0% );
}

.bg-fighting{
    background: linear-gradient(179.75deg, rgb(255 129 0) 10.0%, rgb(255 191 127) 30.0%, #fff 85.0%);
}

.bg-flying{
    background: linear-gradient(179.75deg, rgb(130 186 240) 10.0%, rgb(192 220 247) 30.0%, #fff 85.0%);
}

.bg-poison{
    background: linear-gradient(179.75deg, rgb(146 63 204) 10.0%, rgb(200 158 229) 30.0%, #fff 85.0%);
}

.bg-ground{
    background: linear-gradient(179.75deg, rgb(146 80 27) 10.0%,  rgb(200 167 140) 30.0%, #fff 85.0%);
}

.bg-rock{
    background: linear-gradient(179.75deg, rgb(176 171 130) 10.0%, rgb(215 212 192) 30.0%, #fff 85.0%);
}

.bg-bug{
    background: linear-gradient(179.75deg, rgb(146 162 18) 10.0%, rgb(200 208 136) 30.0%, #fff 85.0%);
}

.bg-ghost{
    background: linear-gradient(179.75deg, rgb(113 63 113) 10.0%, rgb(183 158 183) 30.0%, #fff 85.0%);
}

.bg-steel{
    background: linear-gradient(179.75deg, rgb(96 162 185) 10.0%, rgb(175 208 219) 30.0%, #fff 85.0%);
}

.bg-psychic{
    background: linear-gradient(179.75deg, rgb(239 63 122) 10.0%, rgb(246 158 188) 30.0%, #fff 85.0%);
}

.bg-ice{
    background: linear-gradient(179.75deg, rgb(61 217 255) 10.0%, rgb(157 235 255) 30.0%, #fff 85.0%);
}

.bg-dragon{
    background: linear-gradient(179.75deg, rgb(79 96 226) 10.0%, rgb(166 175 240) 30.0%, #fff 85.0%);
}

.bg-dark{
    background: linear-gradient(179.75deg, rgb(0 0 0) 10.0%, rgb(169 169 169) 30.0%, #fff 85.0%);
}

.bg-fairy{
    background: linear-gradient(179.75deg, rgb(239 113 240) 10.0%, rgb(246 183 247) 30.0%, #fff 85.0%);
}

/*------------------------------------------------------------------------*/

.bg-grass{
    background: linear-gradient(177.56deg, #62DB60 10.0%, #b6f1b5 30.0%, #fffeff 85.0%);
}

.bg-fire{
    background: linear-gradient(179.75deg, #971B45 10.0%, #C23867 30.0%, #fffeff 85.0%);

}


.bg-water{
    background: linear-gradient(179.57deg, #133258 10.0%, #1479FB 30.0%, #fffeff 85.0%);

}

.bg-electric{
    background: linear-gradient(179.57deg, #e1f33b 10.0%, #def771 30.0%, #fffeff 85.0%);
}




/* Color de Textos*/

.color-normal{
    color:rgb(160 162 160);
}

.color-fighting{
    color: rgb(255 129 0);
}

.color-flying{
    color: rgb(130 186 240);
}

.color-poison{
    color: rgb(146 63 204);
}

.color-ground{
    color: rgb(146 80 27);
}

.color-rock{
    color: rgb(176 171 130);
}

.color-bug{
    color: rgb(146 162 18);
}

.color-ghost{
    color: rgb(113 63 113);
}

.color-steel{
    color: rgb(96 162 185);
}

.color-psychic{
    color: rgb(239 63 122);
}

.color-ice{
    color: rgb(61 217 255);
}

.color-dragon{
    color: rgb(79 96 226);
}

.color-dark{
    color: rgb(169 169 169);
}

.color-fairy{
    color: rgb(239 113 240);
}

.color-electric{
    color: rgb(226 226 39);
}

.color-water{
    color: rgb(84 15 245);
}

.color-fire{
    color: rgb(223 27 21);
}

.color-grass{
    color: rgb(21 201 15);
}

/* Color de Bordes*/

.border-normal{
    border-color: rgba(160 162 160 / 0.2);
}

.border-fighting{
    border-color: rgba(255 129 0 / 0.2) ;
}

.border-flying{
    border-color: rgba(130 186 240 / 0.2);
}

.border-poison{
    border-color: rgba(146 63 204 / 0.2);
}

.border-ground{
    border-color: rgba(146 80 27 / 0.2);
}

.border-rock{
    border-color: rgba(176 171 130 / 0.2);
}

.border-bug{
    border-color: rgb(146 162 18 / 0.2);
}

.border-ghost{
    border-color: rgb(113 63 113 / 0.2);
}

.border-steel{
    border-color: rgb(96 162 185 / 0.2);
}

.border-psychic{
    border-color: rgb(239 63 122 / 0.2);
}

.border-ice{
    border-color: rgb(61 217 255 / 0.2);
}

.border-dragon{
    border-color:  rgb(79 96 226 / 0.2);
}

.border-dark{
    border-color: rgba(169 169 169 / 0.2);
}

.border-fairy{
    border-color: rgb(239 113 240 / 0.2);
}

.border-electric{
    border-color: rgba(226 226 39 / 0.2);
}

.border-water{
    border-color: rgb(84 15 245 /0.2) ;
}

.border-fire{
    border-color: rgb(223 27 21 / 0.2);
}

.border-grass{
    border-color: rgba(93 247 93 / 0.2);
}